<footer class="footer" >
  <div id="container">
    <ul id="mainFooterMenu" class="nav" >
      <li >
          <img src="https://pegi.info/sites/default/files/styles/medium/public/2017-03/pegi18.png?itok=2iF_eHO6" alt="PEGI 18">
      </li>
      <li>
          <img src="https://pegi.info/sites/default/files/styles/medium/public/2017-03/violence.png?itok=DBupGMZR" alt="Violence">
      </li>
      <li >
          <img src="https://pegi.info/sites/default/files/styles/medium/public/2017-03/drugs.jpg?itok=c0EUSPxB" alt="Drugs">
      </li>
      <li>
        <ul id="linkMenu" class="nav">
          <li class="nav-item"><a routerLink="/terms" href="#">TERMS OF USE</a></li>
          <li class="nav-item"><a routerLink="/about" href="#">ABOUT US</a></li>
          <li class="nav-item"><a routerLink="/contact" href="#">CONTACT</a></li>
        </ul>
        <ul id="copyrightText" class="nav">
          <li class="nav-item"> ©2020, lukebu. <br> All rights reserved. All trademarks are the property of their respective owners.</li>
        </ul>
      </li>
    </ul>
  </div>
</footer>
