.footer {
  background-color: #212529;
  position: absolute;
  bottom: 0;
  height: 120px;
  width: 100%;
}

#container {
  position: center;
}

img {
  height: 90px;
  margin: 5px;
}

ul {
  margin-top: 10px;
}

ul a {
  color: rgba(255,255,255,.75);
}

#mainFooterMenu {
  justify-content: center;
  display: flex;
}

#linkMenu {
  justify-content: center;
  display: flex;
}


#linkMenu .nav-item {
  margin-left: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#copyrightText {
  margin-left: 10px;
  margin-top: 3px;
  text-align: center;
  color: rgba(255,255,255,.25);
}


