<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <div id="contact">
        <div class="contactForm form">
          <div class="logo mb-3">
            <div class="col-md-12 text-center">
              <h1>Terms of USE</h1>
            </div>
            <b> §I. Zasady ogólne dotyczące rozgrywki.</b>
            <br>
            <b>§IX. Postanowienia końcowe</b>
            Akceptacja Kodeksu jest niezbędna do użytkowania gry. Każdy gracz, który loguje się do gry, uznawany jest za akceptującego postanowienia niniejszego Kodeksu oraz zasady Polityki Prywatności gry.
            Zmiany w treści Kodeksu zależne są od administratorów gry. O wszystkich zmianach gracze zostają powiadomieni ogłoszeniem na Tablicy Nowości w grze.
            Kodeks, wraz ze wszystkimi naniesionymi poprawkami, obowiązuje dokładnie od momentu jego ogłoszenia na Tablicy Nowości.
          </div>
      </div>
    </div>
  </div>
</div>
</div>
