<b> §I. Zasady ogólne dotyczące rozgrywki.</b>


<b>§IX. Postanowienia końcowe</b>
Akceptacja Kodeksu jest niezbędna do użytkowania gry. Każdy gracz, który loguje się do gry, uznawany jest za akceptującego postanowienia niniejszego Kodeksu oraz zasady Polityki Prywatności gry.
Zmiany w treści Kodeksu zależne są od administratorów gry. O wszystkich zmianach gracze zostają powiadomieni ogłoszeniem na Tablicy Nowości w grze.
Kodeks, wraz ze wszystkimi naniesionymi poprawkami, obowiązuje dokładnie od momentu jego ogłoszenia na Tablicy Nowości.


