<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mb-0 h1" href="#">{{applicationName}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"> {{news}} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{community}} </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item disabled" href="#">{{forum}}</a>
          <a class="dropdown-item disabled" href="#">{{wiki}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item disabled" href="#">{{discord}}</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{shop}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">{{contact}}</a>
      </li>
    </ul>
    <ul class="navbar-nav my-2" >
    <li class="nav-item mr-sm-2">
      <a class="nav-link" id="login" href="#">{{login}}</a>
    </li>
    <li class="nav-item my-2 my-sm-0">
      <a class="nav-link" id="register" href="#">{{createAccount}}</a>
    </li>
    </ul>
  </div>
</nav>
