body {
  font-family: "Comic Sans MS";
  background-color: white;
  background-image: url("assets/img/TheLongDark_Safehaven.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 10%;
}

h1,h2,h3{
  font-family: 'Kaushan Script', cursive;
}

.mybtn{
  border-radius:50px;
}

form .error {
  color: #ff0000;
}

a.active {
  color: #141d8b;
}

